In [1]:
#pandas 1

In [2]:
import pandas as pd

In [3]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 
              'Sue': ['Pretty good.', 'Bland.']},
             index=['Product A', 'Product B']);

In [4]:
data = pd.read_csv(r'C:\Users\Giacomo\Desktop\DataScience\Python\DataSet\AB_NYC_2019.csv', sep = ',')

In [5]:
data.head(2);

In [6]:
#Index-based selection
data.iloc[0]#print a line
data.iloc[:,0]#print a columns
data.iloc[:3, 0]#print the first 3 elements of a columns
data.iloc[1:3, 0]
data.iloc[[0, 7, 15], 0]#print the elements in the list
data.iloc[-2:];#the last 5 elements of the columns

In [7]:
#Label-based selection
data.loc[:10,'id']#print the first 11 elements of the columns id
data.loc[[1,5,9],'id']#print line 1,5,9 of id columns
data.loc[:,['id','name','price']]#print all the line of the 3 selected columns
data.loc[0,'name'];

In [8]:
#it's better to use loc with str and iloc with numbers,maybe

In [9]:
#set the index of the dataframe
data = data.set_index('id');
data.head(1)

,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
id,,,,,,,,,,,,,,,
2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365

In [10]:
#same expression
data.neighbourhood_group == 'Manhattan'
#isin, notin
data.neighbourhood_group.isin(['Manhattan']);

In [11]:
#same expression
data[data.neighbourhood_group == 'Manhattan']
data.loc[data.neighbourhood_group == 'Manhattan'];

In [12]:
#and &
data[(data.neighbourhood_group == 'Manhattan') & (data.reviews_per_month > 1)]
#or |
data[(data.neighbourhood_group == 'Manhattan' ) | (data.reviews_per_month > 1)];

In [13]:
# isnull() and notnull()
data[data.last_review.notnull()]
data.loc[data.last_review.isnull()];

In [14]:
#Assigning data
data['pol'] = 'pol'
data.head(2)
#drop data
data = data.drop(['pol'], axis = 1);

In [15]:
#pandas 2

In [16]:
import pandas_profiling
#summary function
data.describe()
data.info()
data.price.describe()
data.price.mean() #to calculate the mean
data.price.count()#to count how many values in this columns
data.last_review.unique()#To see a list of unique values
data.last_review.value_counts()
data.price.value_counts()#To see a list of unique values(left) and how often they occur in the dataset(right)
data.price.value_counts()[100];#to see how often 100 occurs in the dataser

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48895 entries, 2539 to 36487245
Data columns (total 15 columns):
name                              48879 non-null object
host_id                           48895 non-null int64
host_name                         48874 non-null object
neighbourhood_group               48895 non-null object
neighbourhood                     48895 non-null object
latitude                          48895 non-null float64
longitude                         48895 non-null float64
room_type                         48895 non-null object
price                             48895 non-null int64
minimum_nights                    48895 non-null int64
number_of_reviews                 48895 non-null int64
last_review                       38843 non-null object
reviews_per_month                 38843 non-null float64
calculated_host_listings_count    48895 non-null int64
availability_365                  48895 non-null int64
dtypes: float64(3), int64(6), object(6)
memory usage: 6.0+ MB

In [18]:
#profile = data.profile_report(title='Pandas Profiling Report')
profile.to_file("profiling.html")

In [178]:
#Map, apply a function to every value of the list
price_mean = data.price.mean()
data.price.map(lambda x: x-price_mean);

In [179]:
#apply,to transform a whole DataFrame by calling a custom method on each ROW
def norm(row):
    row.price = row.price - price_mean#we have defined price_mean above
    return row
data.apply(norm, axis = 'columns');# if axis = index it apply the function to each COLUMNS and not to each row!!!

In [193]:
#Pandas provides many common mapping operations as built-ins
data.price - data.price.mean() #faster than map or apply
data.name + ' - ' + data.last_review;# incredible!

In [181]:
#pandas 3

In [182]:
#groupby()

#we choose a feature or some features that we want to group, and then others that we want to visualize for each group, 
#applying a function that was already implemented or that we have written
data.groupby('price').price.count()#for each different price it reports the number of values in the list
data.groupby('price').minimum_nights.mean()#for each group of price it calculates the mean of the minumun_night
data.groupby('minimum_nights').price.mean();#for each group of minumun_night it calculates the mean of the price

In [198]:
data.groupby('last_review').apply(lambda df: df.price.iloc[0]);#for each group of last_review selects the first value of price
data.groupby('availability_365').apply(lambda df:df[['price','minimum_nights']].mean())# let's rock
#groupby of more object
data.groupby(['neighbourhood_group','neighbourhood']).apply(lambda df:df[['price','reviews_per_month']].mean());#you have to choose the object carefully

In [184]:
#run a bunch of different functions on your DataFrame simultaneously
data.groupby('neighbourhood_group').reviews_per_month.agg([len,min,max]);

In [185]:
#Multi-indexes
view = data.groupby(['neighbourhood_group','neighbourhood']).reviews_per_month.agg([len,min,max])
view;

In [186]:
type(view).index

In [187]:
#you can study multiindex or use this function to return to normal index
view = view.reset_index()
view;

In [188]:
#sort
view.sort_values(by = 'len', ascending = False); #sort values by the len columns, from the bigger to the smaller

In [189]:
view.sort_index(); #sort values by index

In [190]:
view.sort_values(by = ['neighbourhood_group','len']);#sort values by the neighbourhood_group and than by len

In [199]:
#pandas 4

In [211]:
#Dtypes
data.dtypes
data.price.astype('float64')#convert a column of one type into another
data.price.astype('str')
data.index.dtype;

dtype('int64')

In [218]:
#Missing data pd.isnull(), pd.notnull()
data[pd.isnull(data.reviews_per_month)];
data[pd.notnull(data.reviews_per_month)];

In [224]:
#fill the missing value .fillna()
data.reviews_per_month.fillna('Unkown');
data.neighbourhood_group.replace('Manhattan','jordina te quiero');

In [225]:
#exercise: replace the NaN in the reviews_per_month with the mean in that city

In [310]:
#i star by creating a dataframe with neighbourhood as id and the mean of the reviews_per_month as value
subdata = data.groupby('neighbourhood').reviews_per_month.mean()
subdata[pd.notnull(subdata)];
subdata[pd.isnull(subdata)];
#the question is good because it doesn't work only in 3 city
subdata;

In [315]:
#now i define a function that write the reviews_per_month NaN with the corresponding value in subset
def idea(row):
    if pd.isnull(row.reviews_per_month) == True:
        row.reviews_per_month = subdata[row.neighbourhood]
        
    return row
data.apply(idea, axis = 'columns');

In [316]:
#pandas 5

In [321]:
#rename columns and index
data.rename(columns = {'price':'cost'});#change the columns name
data.rename(index = {2539:'Mamma',1:'Supermamma'});#change the index with a value to the one that you want

In [323]:
#rename axis
data.rename_axis("dni", axis='rows').rename_axis("fields", axis='columns');

In [343]:
a1 = data.groupby('neighbourhood').apply(lambda df:df[['price','reviews_per_month']].mean())
a2 = data.groupby('neighbourhood').apply(lambda df:df[['price','reviews_per_month']].count())
b1 = data.groupby('neighbourhood').apply(lambda df:df[['price','reviews_per_month']].mean())
b2 = data.groupby('neighbourhood').apply(lambda df:df[['latitude','longitude']].mean())

In [339]:
#concatenate 2 or more dataframe that have the same columns
pd.concat([a1, a2]);

In [345]:
#add a dataframe to another, you put suffix if the columns are the same
a1.join(a2, lsuffix = '_mean', rsuffix = '_count');
b1.join(b2);