In [1]:
#starting from pandas dataframe it create a database with multiples table in sql.

In [3]:
import sqlite3
import pandas as pd

In [4]:
data1 = pd.read_csv(r'C:\Users\Giacomo\Desktop\polimi\tesi\SIEMENS\dataturbine1ok.csv')
data2 = pd.read_csv(r'C:\Users\Giacomo\Desktop\polimi\tesi\SIEMENS\dataturbine2ok.csv')
data3 = pd.read_csv(r'C:\Users\Giacomo\Desktop\polimi\tesi\SIEMENS\dataturbine3ok.csv')
data4 = pd.read_csv(r'C:\Users\Giacomo\Desktop\polimi\tesi\SIEMENS\dataturbine4ok.csv')

In [6]:

#To use SQLite3 in Python, first of all, you will have to import the sqlite3 module and then create a connection object 
#which will connect us to the database and will let us execute the SQL statements.
#A connection object is created using the connect() function:

In [8]:
conn = sqlite3.connect('Turbine.db')

In [9]:
#To execute SQLite statements in Python, you need a cursor object. You can create it using the cursor() method.
#The SQLite3 cursor is a method of the connection object. To execute the SQLite3 statements, a connection is established at first 
#and then an object of the cursor is created using the connection object as follows:

In [10]:
c = conn.cursor()

In [11]:
#create a table

In [ ]:
c.execute('CREATE TABLE T1 (vel)')
c.execute('CREATE TABLE T2 (vel)')
c.execute('CREATE TABLE T3 (vel)')
c.execute('CREATE TABLE T4 (vel)')

In [ ]:
conn.commit()

In [ ]:
data1.to_sql('T1', conn, if_exists='replace', index = False)
data2.to_sql('T2', conn, if_exists='replace', index = False)
data3.to_sql('T3', conn, if_exists='replace', index = False)
data4.to_sql('T4', conn, if_exists='replace', index = False)

In [ ]:
c.close()